.SettingsControls {
    &-Wrapper {
        flex: 5;
        width: 35%;
    }

    &-Image {
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        &_type_keyboard {
            background-image: url('../../assets/controls/keyboard-controls.png');
        }

        &_type_mobile {
            background-image: url('../../assets/controls/mobile-controls.png');
        }
    }
}
