.Game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;

    .hydrated {
        position: relative;
    }

    canvas {
        width: 100%;
    }
}
