.MainMenuOption {
    &-List {
        display: flex;
        flex: 2;
        flex-flow: column;
        color: #fff;
        text-align: center;
        font-size: calc(min(3vw, 32px));
        padding: 10px 0 0 0;
    }

    &-ActiveLabel {
        color: #ff60f9;
        font-size: calc(min(5vw, 45px));
        font-weight: bold;
        padding-bottom: 15px;
    }

    &-Value {
        display: block;
        padding: 10px;

        &:hover {
            cursor: pointer;
            color: #00bcd4;
        }
    }
}
